<h3>Estadísticas</h3>
<table>
	<tr>
		<td>Número de preguntas</td>
		<td><%= stats.countQuiz %></td>
	</tr>
	<tr>
		<td>Número de comentarios totales</td>
		<td><%= stats.countComments %></td>
	</tr>
	<tr>
		<td>Número de comentarios medios por pregunta</td>
		<td><%= stats.average %></td>
	</tr>
	<tr>
		<td>Número de preguntas sin comentarios</td>
		<td><%= stats.whitOutComments %></td>
	</tr>
	<tr>
		<td>Número de preguntas con comentarios</td>
		<td><%= stats.whitComments %></td>
	</tr>
</table>